<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://dubbo.apache.org/schema/dubbo
            http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${spring.application.name}" />

	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" simplified="true" />
	<dubbo:metadata-report address="zookeeper://${dubbo.registry.address}" />
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" threadpool="cached" threads="${dubbo.provider.threads}" />

	<!-- 作为服务提供者 -->
	<dubbo:provider retries="0" group="${dubbo.provider.group}" timeout="1000" protocol="dubbo" />

	<import resource="classpath*:superq-core.xml"/>

</beans>
